.header {
  height: 70px;
  background: #1f2937;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 30px;

  color: white;
}

.header nav {
  display: flex;
  gap: 20px;
}

.header a {
  color: white;
  text-decoration: none;
}